section {
    background-image: url(../../../assets/news.jpg);
    height: 120vh;
    width: 100%;
    background-size: cover;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}