section {
    background-image: url(../../../assets/actor.jpg);
    background-position: center;
    height: 120vh;
    width: 100%;
    background-size: cover;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}