section {
    background-image: url(../../../assets/main.jpg);
    height: 120vh;
    width: 100%;
    background-size: cover;
    animation: fadeIn 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, .5);
    color: white;
    padding: 10vh;
    outline: .1vh solid white;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes slide {
    0% {
        transform: translate(0, 30vw);
    }
    100% {
        transform: translate(0, 0);
    }
}

.button {
    width: 6vmax;
    height: 2vmax;
    padding: 1vh;
    margin-top: 3vh;
    background: grey;
    outline: .1vw solid white;
}

.button:hover {
    background: blue;
    cursor: pointer;
}